.calendar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ตัวปฏิทิน */
.react-calendar {
  width: 100%;
  max-width: 360px; /* ไม่ใหญ่เกินบนแท็บเล็ต */
  border: none;
  font-size: 18px;
}

.welcome-text {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
}

.large-title {
  font-size: 24px;
  font-weight: 700;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 90px;
  background: #fff0f6;
  border-top: 2px solid #f7c1d9;

  z-index: 1000;
}

.bottom-nav-btn {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 6px;
  color: #c2185b;
}

.bottom-nav-btn ion-icon {
  font-size: 28px;
}

.bottom-nav-btn span {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.bottom-nav-btn.active {
  background: #ffd6e8;
  color: #e91e63;
}