:root {
  --ion-color-primary: #FFD8EE;
  --ion-color-primary-rgb: 255, 216, 238;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #f0c6d9;
  --ion-color-primary-tint: #ffe0f2;
}


.detail-header-card {
  background: #ff6fb5ff;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(255, 98, 183, 0.25);
    margin-bottom: 20px;
    text-align: center;
}

.thai-label {
    color: #7a1f52;
    font-weight: 500;
}

.thai-date-display {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;

}

.slot-button.available {
    --border-color: #FF62B7;
    --color: #FF62B7;
    --background-hover: #FF62B7;
    --color-hover: #000000;
}

.slot-button {
    --border-radius: 14px;
    height: 60px;
    font-weight: 600;
}

.slot-button.booked {
    --background: #f3c1da;
    --color: #9b5a7a;
}

.legend {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    font-size: 0.9rem;
    justify-content: center;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot.available {
    background: #FF62B7;
}

.dot.booked {
    background: #f3c1da;
}

.slot-button.available {
    --color: #3880ff;
    --border-color: #3880ff;
}

/* Styling for 'booked' (locked) slots */
.slot-button.booked {
    --background: #ebebeb;
    --color: #a1a1a1;
    opacity: 0.6;
}

.center-spinner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}