.list-card {
    --background: #ffffff;
    margin-bottom: 12px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border: 1px solid #eee;
}

.patient-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
}

.appt-info {
    font-size: 0.9rem;
    color: #666;
    margin-top: 4px;
}

.appt-note {
    font-style: italic;
    color: #888;
    font-size: 0.85rem;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.section-status-label {
    margin: 20px 0 10px 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #444;
}

.list-card {
    margin-bottom: 12px;
    --border-radius: 12px;
    border-left: 6px solid #ccc; /* สีเริ่มต้น */
}

.card-border-warning { border-left-color: #ffc409; }
.card-border-success { border-left-color: #2dd36f; }
.card-border-danger { border-left-color: #eb445a; }

.appt-row-details {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #666;
    margin-top: 4px;
}