.AppointmentList-toolbar {
     --background: #FEC5E5; /* Light pink header */
    --padding-top: 15px;
    --padding-bottom: 15px;
}

.AppointmentList-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #000;
}

.AppointmentList-content {
    --background: #FFDFEE;
}

.list-card {
    --background: transparent;
    overflow: hidden;
    margin-bottom: 12px;
    border-radius: 15px;
}

.patient-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
}

.appt-info {
    font-size: 0.9rem;
    color: #666;
    margin-top: 4px;
}

.appt-note {
    font-style: italic;
    color: #bcbcbc;
    font-size: 0.85rem;
}

.status-pill {
  display: inline-block;
  padding: 4px 12px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  backdrop-filter: blur(4px);
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.section-status-label {
    margin: 20px 0 10px 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #444;
}

.list-card {
    margin-bottom: 12px;
    --border-radius: 15px;
    padding: 8px;
    color: #fff;
}

.card-border-warning { 
    --background: #ffc409; 
     color: #ffffff;
}
.card-border-success { 
    background: #44d67e; 
    color: #ffffff;
}
.card-border-danger { 
    background : #ee566a; 
    color: #ffffff;
}

.appt-row-details {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #666;
    margin-top: 4px;
}