.section-container{
  margin-bottom:25px;
}

.appt-card{
  border-radius:16px;
  padding:14px;
  margin-bottom:12px;
  box-shadow:0 2px 6px rgba(0,0,0,.05);
}

.appt-card-row{
  display:flex;
  align-items:center;
}

.date-badge{
  background:white;
  border-radius:10px;
  padding:4px 10px;
  font-weight:600;
  font-size:14px;
  margin-right:12px;
}

.card-info{
  flex:1;
}

.patient-name{
  font-weight:600;
  font-size:16px;
  margin-bottom:4px;
}

.card-meta{
  display:flex;
  gap:16px;
  font-size:14px;
}

.meta-item{
  display:flex;
  align-items:center;
  gap:4px;
}

.card-arrow{
  margin-left:auto;
  font-size:20px;
  color:#666;
}

/* status colors */

.card-pending{
  background:#f7c144;
}

.card-success{
  background:#9ef2a5;
}

.card-danger{
  background:#f48091;
}

/* Filter Buttons */
.filter-grid {
  margin-bottom: 20px;
  padding: 0;
}

.filter-btn {
  --padding-start: 2px;
  --padding-end: 2px;
  font-size: 20px;
  font-weight: bold;
  --border-radius: 10px;
  margin: 0;
  height: 45px;
  --box-shadow: none;
  opacity: 0.4; /* ปุ่มที่ไม่ได้เลือกจะจางลง */
  transition: 0.3s;
}

.filter-btn.active {
  opacity: 1; /* ปุ่มที่เลือกจะสว่าง */
  transform: scale(1.00);
  --box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-yellow {
  --background: #ffc409;
  --color: #000;
}

.btn-green {
  --background: #2dd36f;
  --color: #fff;
}

.btn-red {
  --background: #eb445a;
  --color: #fff;
}

/* Card Styles ตามสถานะ */
.card-pending { border-left: 5px solid #ffc409; }
.card-success { border-left: 5px solid #2dd36f; }
.card-danger { border-left: 5px solid #eb445a; }

.no-data {
  text-align: center;
  margin-top: 50px;
  color: #666;
  font-style: italic;
}