.Reservation-background {
    --background: linear-gradient(to bottom, #ffe4f0 0%, #ffffff 100%);
}

.logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px 0;
}
.app-logo{
    width: 180px;
    margin-bottom: 20px;
}

.input-box-container {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.custom-input {
    --background: #f9f9f9;
    --border-radius: 12px;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

.input-header {
    font-weight: bold;
    border-left: 4px solid var(--ion-color-primary);
    padding-left: 10px;
    margin-bottom: 15px;
}

.confirm-btn {
    --background: #ff69b4;
    --background-activated: #ff1493;
    --border-radius: 40px;
    --box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
    height: 55px;
}

.reservation-card {
    background: #fff0f6;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-top: 0px;
     align-items: center;   /* จัดกลางแนวนอน */
    text-align: center;    /* จัดกลางตัวหนังสือ */
}

